# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\program files(86)\Spring BOOT\practise\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
